<% var title = 'Cerrar sesión' %>
<% include head %>

<h1>Cerrar sesión</h1>
<p>Sesión cerrada con éxito!</p>
<p>Ahora no puedes acceder al contenido del <a href="/content">libro</a>.</p>

<% include menu %>

<% include foot %>