<div>
    Menú:
    <ul>
        <li> <a href="/">Inicio</a> </li>
        <li> <a href="/content">Contenido</a> </li>
        <li> <a href="/login">Iniciar sesión</a> </li>
        <li> <a href="/logout">Cerrar sesión</a> </li>
        <li> <a href="/signup">Registrarse</a> </li>
        <li> <a href="/updatePass">Actualizar contraseña</a> </li>
        <li> <a href="/delAccount">Eliminar cuenta</a> </li>
    </ul>
</div>